* { padding: 0; margin: 0; }
html, body {
    min-height: 100% !important;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.note {
  height: 100%;
  width: 100%;
  background-color: #eee;
  border-radius: 10px;
}

.note_textarea {
   margin: 5%;
   width: 90%;
   height: 91%;
   font-family: ComingSoon;
   font-size: 16px;
   color: #333;
   background-color: rgba(0, 0, 0, 0);
   border: rgba(0, 0, 0, 0);
   resize: none;
}

.move {
  width: 15px;
  height: 15px;
  background-image: url("images/move.png");
  background-size: 15px 15px;
  position: relative;
  left: 5px;
  bottom: 12px;

  opacity: 0;
}

.move:hover {
  opacity: 1;
}

@font-face {
    font-family: ComingSoon;
    src: url("./fonts/ComingSoon.ttf");
}
